#showcase {
  height: 100vh;
}

#about {
  margin-bottom: 30px;
}

#about h2 {
  padding-top: 70px;
}

#projects h2 {
  padding-top: 70px;
}
.btn {
  font-size: .8em;
}

#contact h2 {
  line-height: 1em;
  font-size: 2.5em;
}

#contact p {
  font-size: .75em;
}
