#showcase {
  height: 100vh;
}

#about {
  height: 1000px;
  margin-bottom: 30px;
}

.btn {
  font-size: .8em;
}

#contact h2 {
  line-height: 1em;
  font-size: 2.5em;
}

#contact p {
  font-size: .75em;
}
